body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #0b5bbe;
    color: white;
}
button {
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
table{
    width: 80%;
    margin-left: 10%;
    /* border: 1px solid white; */
    border-collapse: collapse;
}
th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #4CAF50;
    color: white;
}

tfoot {
    font-weight: bold;
    background-color: #43f50c;
}
/* #report {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
} */