:root {
  --primary-background-color: #ffffff;
  --primary-text-color: #12131a;
  --primary-input-background-color: #f2f2f7;
  --accent-color: #d3a0fa;
  --error-color: #fe8159;
  --metric-color: #12131a;
}

.dark-theme {
  --primary-background-color: #12131a;
  --primary-text-color: #e4e4ef;
  --primary-input-background-color: #2a2b37;
}

@font-face {
  font-family: DMSans;
  src: url("./public/fonts/DM_Sans/static/DMSans-Regular.ttf");
}
@font-face {
  font-family: DMSans;
  font-weight: 500;
  src: url("./public/fonts/DM_Sans/static/DMSans-SemiBold.ttf");
}
@font-face {
  font-family: DMSans;
  font-weight: 700;
  src: url("./public/fonts/DM_Sans/static/DMSans-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DMSans;
}

body {
  background-color: var(--primary-background-color);
}

/* #app-logo {
    src: "./public/images/logo-dark-theme.svg";
} */

.page-wrapper {
  padding: 1rem 5%;
}
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 2rem;    */
}
#hero-title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

#input-area-section {
  border-radius: 1rem;
  font-size: 1.25rem;
  background-color: var(--primary-input-background-color);
  color: var(--primary-text-color);
  border: 1px solid #d1d5db;
  width: 100%;
  padding: 1.5rem;
  outline: none;
  margin-top: 0.5rem;
  height: 200px;
  margin-bottom: 2rem;
  transition: all 0.3s ease;
  
}
#input-area-section:focus {
  box-shadow: 0 0 0 1px rgba(128, 0, 128, 0.5); 
  border-color: var(--accent-color); 
}

/* .dark #input-area-section {
  background-color: var(--primary-input-background-color); 
  border-color: var(--accent-color); 
} */
